<div class="container">
  <h1>{{ title }}</h1>
  <form>
    <div class="form-group">
      <label>Operando A</label>
      <input type="number" class="form-control" placeholder="Escribe Operando A" [(ngModel)]="operandorA"
        name="operandoA" />
    </div>
    <div class="form-group">
      <label>Operando B</label>
      <input type="number" class="form-control" placeholder="Escribe Operando B" [(ngModel)]="operandorB"
        name="operandoB" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="sumar()">Sumar</button>
  </form>
  <p>Resultado: {{ resultado }}</p>
</div>
